<link rel="stylesheet" property="stylesheet" href="css/boardupdate.css">

<% if (opt == "board") { %><!-- 게시글 형태가 일반 게시글인 경우 -->
<div class="boardInsert">
    <form action="/updateBoard" enctype="multipart/form-data" method="post" class="boardForm">
        <div>
            제목 : <input type="text" name="title" class="title" value="<%= board.title %>">
            <select id="boardOpt" name="BandM" onchange="changeAlarm()"><!-- 게시글 형태 변경 시 함수 호출 -->
                <option value="board" selected>게시글</option>
                <option value="movie">동영상</option>
            </select>
        </div>
        <div><textarea name="content" class="content"><%= board.content %></textarea></div>
        <div class="fileItem">
            다중 파일 업로드 : <input type="file" name="multifile" value="파일 업로드" multiple>
            <input type="submit" value="수정하기" class="submitItem">
        </div>
        <input type="hidden" name="bno" value="<%= board.bno %>">
    </form>
</div>
<% } else if (opt == "movie") { %><!-- 게시글 형태가 영상 게시글인 경우 -->
    <div class="boardInsert">
        <form action="/updateMovie" enctype="multipart/form-data" method="post" class="boardForm">
            <div>
                제목 : <input type="text" name="title" class="title" value="<%= board.title %>">
                <select id="boardOpt" name="BandM" onchange="changeAlarm()"><!-- 게시글 형태 변경 시 함수 호출 -->
                    <option value="board">게시글</option>
                    <option value="movie" selected>동영상</option>
                </select>
            </div>
            <div><textarea name="content" class="content"><%= board.content %></textarea></div>
            <div class="fileItem">
                썸네일 업로드 : <input type="file" name="movie" value="썸네일 업로드">
                <input type="submit" value="수정하기" class="submitItem">
            </div>
            <div class="fileItem">동영상 업로드 : <input type="file" name="movie" value="동영상 업로드"></div>
            <input type="hidden" name="bno" value="<%= board.bno %>">
        </form>
    </div>
<% } %>

<script>
    function changeAlarm() {
        var TF = confirm('보드 옵션 변경 시 변경 사항이 초기화됩니다.'); // confirm의 확인을 누를 경우 함수 호출
        if (TF == true) boardChange();
    }
    function boardChange() {
        var selectOpt = document.getElementById('boardOpt');
        var selectValue = selectOpt.options[selectOpt.selectedIndex].value;
        location.href = '/boardUpdate?opt=' + selectValue + '&bno=' + board.bno; // 변경된 옵션을 파라미터로 넘겨 Update Form 재호출
    }
</script>